extends layout

block content
      form(method='POST')
          label(for='name') Category name:
          input#name(type='text', placeholder='Your category name' name='name' required value=(undefined===category ? '' : category.name) )
          if (update)
            label(for='password') Confirm with the password
            input(type='password', name='password')
          button(type='submit') Submit

      if errors
        ul
          for error in errors
            li!= error.msg 