doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      p Verde Vivarium 
      a(href="/") Home
      a(href="/aromatic-plants") Aromatic plants
      a(href="/citrus-plants") Citrus plants
      a(href="/vegetable-seeds") Seeds
      a(href="/add-category")
        button Add category
  block content 